<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegAction</servlet-name>
    <servlet-class>com.service.action.RegAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegAction</servlet-name>
    <url-pattern>/servlet/RegAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.service.action.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterAction</servlet-name>
    <servlet-class>com.service.action.RegisterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAction</servlet-name>
    <url-pattern>/servlet/RegisterAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ImAction</servlet-name>
    <servlet-class>com.service.action.ImAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImAction</servlet-name>
    <url-pattern>/servlet/ImAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessageAction</servlet-name>
    <servlet-class>com.service.action.MessageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageAction</servlet-name>
    <url-pattern>/servlet/MessageAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsAction</servlet-name>
    <servlet-class>com.service.action.NewsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsAction</servlet-name>
    <url-pattern>/servlet/NewsAction</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>